:root{
     /******************** PRIMARY COLORS *********************/
     --soft_blue: hsl(231, 69%, 60%);
     --soft_red: hsl(0, 94%, 66%);
     /******************* SECONDARY/NEUTRAL COLORS ******************/
     --grayish_blue: hsl(229, 8%, 60%);
     --very_dark_blue: hsl(229, 31%, 21%);
}


/***************** GENERAL SYLES  **************/
body{
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

li{
    list-style-type: none;
}
img{
        width: 100%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
img{
    /* width: 100%; */
}
.container{
    display: flex;
    flex-direction: column;
    /***************** NAVBAR SECTION  **********/
}
.navbar{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 30px 0;
    text-transform: uppercase;
    color: var(--grayish_blue);
}
.navbar {
    align-content: center;
    font-size: 16px;
    align-items: center;
}

.logo{
    margin-top: 15px;
}
.navbar ul{
    display: flex;
    gap: 40px;
    align-items: center;
}
.login_btn{
    background-color: var(--soft_red);
    padding:10px 35px;
    border-radius: 5px;
    color: white;
}
.hamburger{
    display: none;
}
.mobile_icon{
    display: none;
}
.mobile_navbar{
    display: none;
}
.hide_in_menu{
    height: 100vh;
    overflow-y: hidden;
}
@media screen and (max-width: 820px) {
    .navbar{
        width: 90%;
    }
}
@media screen and (max-width: 680px) {
    hr{
        border:1px solid var(--grayish_blue);
    }
    .navbar ul{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .navbar{
        width: 85%;
    }
    .mobile_navbar{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        display: none;
        /* display: flex; */
        flex-direction: column;
        opacity: 0.95;
        height: 100vh;
        background-color: var(--very_dark_blue);
        color: var(--grayish_blue);
        text-align: center;
    }
    .mobile_navbar nav{
        width: 85%;
        margin: 0 auto;
        display: flex;
        gap: 25px;
        height: 100%;
        flex-direction: column;
        text-transform: uppercase;
    }
    .logo_container{
        display: flex;
        margin-top: 36px;
        margin-bottom: 16px;
        justify-content: space-between;
    }
    .mobile_login_btn{
        /* background-color: var(--soft_red); */
        padding:10px 35px;
        border-radius: 5px;
        border: 3px solid;
        color: white;
    }
    .links{
        display: none;
    }
    .mobile_social{
        display: flex;
        gap: 60px;
        margin: auto;
    }
    .mobile_social li img{
        width: 30px;
    }
    .mobile_icon{
        display: block;
    }
}
/*********************** HERO SECTION STYLES  *****************/
.hero_section{
    width: 85%;
    margin: 30px auto;
    margin-left: 10%;
    display: flex;
    gap: 30px;
    height: 100%;
    color: var(--grayish_blue);
}
.hero_content{
    width: 45%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.hero_image{
    width: 55%;
    overflow-x: hidden;
}
.hero_image_background{
    width: 100%;
    background-color: var(--soft_blue);
    /* height: 300px; */
    height: 50vh;
    /* border-radius: 120px; */
    border-radius: 20vw;
    position: absolute;
    z-index: -10;
    /* bottom: 60px; */
    bottom: 8.5vh;
    /* margin-left: 180px; */
    margin-left: 13vw;
}
.hero_content h3{
    font-size: 3.5vw;
    font-weight: 500;
    color: var(--very_dark_blue);
}
.hero_button{
    display: flex;
    gap: 15px;
}
.hero_button button{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
   color: var(--very_dark_blue);
}
.hero_button :first-child{
    background-color: var(--soft_blue);
    color: #fff;
}
@media screen and (max-width: 680px) {

}